:root {
    --color-accent: #D97706;
    --color-primary: #fff;
    --color-secondary-text: gray;
    --color-secondary: #0EA5E9;
    --color-tertiary: #e2e8f0;
}

@font-face {
    font-family: 'Roboto Black';
    src: url(./assets/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(./assets/Roboto/Roboto-Regular.ttf);
}

* {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.acct-info {
    display: flex;
    flex-direction: column;
}

.acct-info p {
    margin: 0;
}

.actions {
    align-items: center;
    align-self: flex-end;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-top: auto;
}

.actions span {
    cursor: pointer;
    font-size: 1.75rem;
}

.actions span:hover {
    color: var(--color-accent)
}

.announcements h3 {
    margin: 5px 0;
}

.announcements h3:hover {
    text-decoration: underline;
}

.buttons {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

.buttons li {
    background-color: var(--color-secondary);
    border-radius: 24px;
    color: var(--color-primary);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    text-align: center;
}

.card {
    background: var(--color-primary);
}


.container {
    background-color: var(--color-tertiary);
    display: grid;
    gap: 2rem;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    grid-template-columns: 3fr 1fr;
    overflow: auto;
    padding: 10px;
}

.handle {
    cursor: pointer;
    font-size: 0.8rem;
}

.handle:hover {
    text-decoration: underline;
}

.header {
    background-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-column: 2 / 5;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 2rem;
    z-index: 1;
}

.header span[class ^= "material"] {
    cursor: pointer;
}

.label {
    color: var(--color-secondary-text);
    font-size: 0.75rem;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 5rem;
}

.nav > a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.profile {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-self: end;
}

.profile img {
    cursor: pointer;
    height: 48px;
    width: 48px;
}

.project-card {
    background: var(--color-primary);
    border-left: 10px solid var(--color-accent);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.project-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.project-title {
    cursor: pointer;
    margin: 5px 0;
}

.project-title:hover {
    text-decoration: underline;
}

.projects {
    grid-row: 1 / 3;
}

.search-bar {
    align-items: center;
    display: flex;
    gap: 12px;
}

.search-bar input[type ^="text"] {
    background: #e2e8f0;
    border-radius: 18px;
    border: none;
    padding: 7px;
    width: 100%;
}

.section-title {
    margin-bottom: 10px;
}

.sidebar {
    background-color: var(--color-secondary);
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    padding-left: 1.25rem;
}

.sidebar-title, .sidebar-item {
    align-items: center;
    display: flex;
}

.sidebar-item {
    font-weight: bold;
}

.sidebar-title > span[class^="material-icons"] {
    font-size: 3rem;
    margin-right: 0.5rem;
}

.sidebar-item > span[class^="material-icons"] {
    font-size: 2rem;
    margin-right: 1rem;
}

.text-content {
    color: var(--color-secondary-text);
    font-size: 0.75rem;
    margin: 5px 0;
}

.project-description {
    font-size: 1rem;
}

.trending-card, .announcement-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0.5rem 1rem;
}

.trending-entry {
    align-items: center;
    display: flex;
    gap: 12px;
}

.welcome {
    align-items: center;
    display: flex;
    gap: 16px;
}

.welcome img {
    cursor: pointer;
}

.welcome h3 {
    margin-bottom: 0;
}

.welcome h2 {
    margin-top: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
    margin: 0;
    max-height: 100vh;
    min-height: 100vh;
    padding: 0;
}

hr {
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    background: #333;
    border: 0;
    height: 1px;
}